namespace: gitops-agent

resources:
- https://github.com/argoproj-labs/argocd-agent/install/kubernetes/agent?ref=release-0.5
- agent-redis-networkpolicy.yaml
- application-controller-cluster-admin-role.yaml

images:
- name: ghcr.io/argoproj-labs/argocd-agent/argocd-agent
  newName: quay.io/argoprojlabs/argocd-agent
  newTag: v0.5.1

patches:
  - patch: |
      - op: replace
        path: /subjects/0/namespace
        value: gitops-agent
    target:
      kind: ClusterRoleBinding
      name: argocd-agent-agent
  - patch: |
      - op: replace
        path: /subjects/0/namespace
        value: gitops-agent
    target:
      kind: RoleBinding
      name: argocd-agent-agent
  - patch: |
      - op: replace
        path: /data/agent.mode
        value: managed
      - op: replace
        path: /data/agent.server.address
        value: argocd-agent-principal-gitops-control-plane.apps.$SUBDOMAIN
      - op: replace
        path: /data/agent.namespace
        value: gitops-agent
      - op: replace
        path: /data/agent.creds
        value: "mtls:CN=([^,]+)"
      - op: replace
        path: /data/agent.redis.address
        value: argocd-redis:6379
    target:
      kind: ConfigMap
      name: argocd-agent-params
